{% extends 'base.html' %}
{% block content %}
<h3 class="mb-3">Add Student</h3>

<form method="POST">
  {% csrf_token %}
  <input name="name" class="form-control mb-2" placeholder="Full Name">
  <input name="email" class="form-control mb-2" placeholder="Email">
  <input name="contact" class="form-control mb-2" placeholder="Phone Number">

  <select name="course" class="form-control mb-3">
    {% for c in courses %}
      <option value="{{c.id}}">{{c.title}}</option>
    {% endfor %}
  </select>

  <button class="btn btn-success">Save</button>
</form>
{% endblock %}
