{% extends 'base.html' %}
{% block content %}
<h3 class="mb-4">Students List</h3>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Name</th><th>Email</th><th>Course</th><th>Contact</th><th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for s in students %}
    <tr>
      <td>{{s.name}}</td>
      <td>{{s.email}}</td>
      <td>{{s.course.title}}</td>
      <td>{{s.contact}}</td>
      <td>
        <a href="/edit-student/{{s.id}}/" class="btn btn-warning btn-sm">Edit</a>
        <a href="/delete-student/{{s.id}}/" class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
